name: Run Tests and Upload Coverage

on:
  push:
    branches: [ "main" , "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          # cache-dependency-path: ./backend/package-lock.json

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Run tests with coverage (Vitest)
      - name: Run tests (Vitest)
        run: npm test -- --coverage

      # 5. Upload coverage to Coveralls
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
          